.container {
    position: relative;
    text-align: center;
    color: white;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {

    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.centered p {

    font-size: 20px;

}

.link-button {
    text-decoration: none;
    background-color: rgb(244, 99, 46);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}